<div data-role="view" data-layout="main" 
     data-model="app.LoginService.viewModel" 
     data-bind="events:{beforeShow:onBeforeShowView}">
    
    <br />
    <br />
    <table style="width:100%">
        <tr>
            <td style="width:100%" >
              <div class="vitailogo">
              </div>
            </td> 
        </tr>
    </table>
    <br />
    <br />
    <br />  
    
    <form data-bind="events:{submit: onSubmit}">
        <ul data-role="listview" data-style="inset">    
            <li>
                <label> Usuario:</label>
                <input type="text" data-bind="value: username" />
            </li>
            <li>
                <label>Senha:</label>
                <input type="password" data-bind="value: password"  />
            </li>
            <li>
                <button type="submit" style="width: 100%" class="km-widget km-button">Entrar</button>
            </li>
        </ul>
    </form>
</div>       
  
<script>
    // reset global drawer instance, for demo purposes
    kendo.mobile.ui.Drawer.current = null;
</script>