<div data-role="view" data-title="Login" data-layout="main" >
    <div class="loginContainer">
        
        <div class="logo-image">
            
        </div>

         <div class="loginFields">
             <ul data-role="listview">
              <li>
                <label>Usuario
                    <input type="text" />
                </label>
              </li>
              <li>
                  <label>Senha
                    <input type="password" />
                   </label>
               </li>
            </ul>
    
        </div>
        <div style="float:left; width:100%">
            <div style="float:left">
                <a data-role="button" style="background-color:#88bacf; " href="views/home.html">Primeiro acesso?</a>            
            </div> 

            <div style="float:right">
                <a data-role="button" style="background-color:#88bacf; width:100px" href="views/home.html">Entrar</a>            
            </div> 
        </div>
        <span class="ti-med-image-container">
            <div class="ti-med-image">
                
            </div>  
            
        </span>
        
    </div>
</div>