<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    </head>
    <body>     
<div  data-role="view"
    data-layout="main" data-model="app.LoginService.viewModel" id="login">
     
    <div data-role="header">
      <div data-role="navbar">
          <div>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>   
    
    </br>
    </br>
    <table style="width:100%">
        <tr>
            <td style="width:100%" >
              <div class="vitailogo">
                </div>
            </td> 
            </br>
        </tr>
    </table>

    </br>
    </br>
    </br>

         <form>
            <ul data-role="listview" data-style="inset">
                 <li>
            <label data-bind=""> Usuario:</label>
           <input type="text" name="username" data-bind="value: username">
            </li>
                 <li>
            <label>
            <label data-bind=""> Senha:</label>
           <input type="password" name="password" data-bind="value: password">
            </label>
            </li>
                <li>
                <button style="width: 100%" data-role="button" data-bind="source: dataSource, events:{click: submit}">Entrar</button>
                </li>
             </ul>
        </form>
          
       </div>       
  
    </body>
    
</html>
    
        
            

        
