<style>
    .km-arrow-e:after,
    .km-arrow-e:before
    {
        content: "\e000";
    }
    .km-arrow-w:after,
    .km-arrow-wbefore
    {
        content: "\e003"
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        filter: alpha(opacity=60);
        background-color: #6495ed;      
        text-align: center;
      }

      .overlay div {
        position: relative;
        font-size: 34px;
        margin-top: -17px;
        top: 50%;
      }

    
</style>

<div   data-role="view" data-title="Cirurgias Realizadas" data-layout="main"
       data-model="app.cirurgiasRealizadasViewService.viewModel"  
       data-bind="events:{beforeShow:onViewShow, init:onInit}">

    <div data-role="header">
        <div data-role="navbar">
            <div >
                <a data-role="button" href="#appDrawerDinamico" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
                <span data-role="view-title" style="line-height:1.8em"></span>
            </div>
        </div>
    </div>
    
    <div data-role="footer" data-bind="visible: isGraficoVisible">
        <div data-role="tabstrip">
            <a   data-bind="events: { click: onListaClick }" data-icon="contacts">Lista de Cirurgias</a>
            <a   data-bind="events: { click: onPainelClick }" data-icon="contacts">Painel de Cirurgias</a>
        </div>
    </div>

    <div style="text-align:center" >
        <div style="margin: 2px">
            <span>Data</span>
            <input data-role="datepicker"
                   data-bind="value: selectedDate,
                   events: { change: onDateChange }"
                   style="width:125px; margin-right:10px" />
                 
            <button data-role="button" data-bind="events: { click: onTodayClick }" >Hoje</button>
            <!--<button data-role="button" data-icon="arrow-w" data-bind="events: { click: onPreviousDateClick}"></button>
            <button data-role="button" data-icon="arrow-e" data-bind="events: { click: onNextDateClick}"></button>-->
                
        </div>
    </div>

    <div data-bind="visible: isGraficoVisible">

          <!--div class="chart-wrapper">
            <div data-role="chart"
                 data-series-defaults='{ type: "pie", labels:{visible: true, template: "#= category #: \n #= kendo.format(\"{0:p}\", percentage)# \n Qtd: #= value #"} }'
                 data-title="{ text: 'Cirurgias realizadas por status', position: 'top' }"
                 data-legend='{visible: false, position: "top"}' 
                 data-series="[{
                 field: 'QUANTIDADE',
                 categoryField: 'STATUS',
                 padding: 60
                 }]"
                 data-bind="source: graficoDs",
                 style="width:100%; height:300px">

            </div>
        </div-->
        
        <div class="chart-wrapper">
            <div data-role="chart"
                 data-series-defaults='{ type: "pie", labels:{visible: true, template: "#= category #: \n #= kendo.format(\"{0:p}\", percentage)# \n Qtd: #= value #"} }'
                 data-title="{ text: 'Cirurgias planejadas por status', position: 'top' }"
                 data-legend='{visible: false, position: "top"}' 
                 data-series="[{
                 field: 'TOTAL',
                 categoryField: 'STATUS',
                 padding: 60
                 }]"
                 data-bind="source: graficoCirurgiaPlanejadaDs, events:{dataBound:chartPlanejadaDataBound}",
                 style="width:100%; height:300px">
            </div>
            <div id="noDataPlanejadas" style="width:100%; text-align:center; display:none"><div>Não há dados disponívies</div></div> 
        </div>
        <hr />
        <div class="chart-wrapper">
            <div data-role="chart"
                 data-series-defaults='{ type: "pie", labels:{visible: true, template: "#= category #: \n #= kendo.format(\"{0:p}\", percentage)# \n Qtd: #= value #"} }'
                 data-title="{ text: 'Cirurgias encaixadas por status', position: 'top' }"
                 data-legend='{visible: false, position: "top"}' 
                 data-series="[{
                 field: 'TOTAL',
                 categoryField: 'STATUS',
                 padding: 60
                 }]"
                 data-bind="source: graficoCirurgiaEncaixadasDs, events:{dataBound:chartEncaixadasDataBound}",
                 style="width:100%; height:300px">

            </div>
            <div id="noDataEncaixadas" style="width:100%; text-align:center; display:none" >
                <h5>Cirurgias encaixadas por status</h5>
                <div>
                Não há dados disponívies</div>
               
            </div> 
        </div>        
        
        <ul data-role="listview" data-style="inset" 
            data-template="quatidadeCirurgiaDataTemplate" data-bind="source: quantidadeCirurgiaDs"></ul>



    </div>
</div>
        <script type="text/x-kendo-template" id="quatidadeCirurgiaDataTemplate">   
                <span><h5 style="float:left">#:data.STATUS#</h5></span>
                <span class="badge" style="float:right;margin-top: 10px;">#:data.TOTAL#</span>
        </script>

<script>
    $(window).on("resize", function() {
        kendo.resize($(".chart-wrapper"));
    });
</script> 