<style scoped>
      .k-scheduler-table .k-today
    {
    	background-color: white !important;
    }
    
    .legenda{
    	height: 35px;
    	text-align:center !important;
    }
    
    .legenda span{
    	font-weight: bold;
    	line-height: 35px;
    	font-size:10px;
    	
    }
    
    .suspensaNoCC{
    	background-color: rgb(255, 200, 0);
    }

    .suspensaForaCC{
    	background-color: rgb(255, 145, 0);
    }
    
    .planejada{
    	background-color: rgb(211, 211, 211);
    	
    }
    
    .checkInCC{
    	background-color: rgb(169, 169, 169);
    }
    
    .entradaSala{
    	background-color:	rgb(98, 176, 255);
    }
    
    .inicioCirurgia{
    	background-color: rgb(0, 88, 176);
    }
    
    .fimCirurgia{
    	background-color:rgb(144, 238, 144);
    }
    
    .saidaSala{
    	background-color:rgb(0, 120, 0);
    }
    
    .saidaCC{
    	background-color:rgb(127, 255, 0);
    }
    .suspensaoTemporaria{
    	background-color:rgb(255, 218, 185);
    }
    
    
    
    .encaixe{
    	color:red;
    	border-bottom: 1px solid black;
    }

    
</style>
<div 
    data-role="view" data-title="Painel de Cirurgias" data-layout="main"
    data-model="app.painelCirurgiasViewService.viewModel"  
    data-bind="events:{beforeShow:onViewShow, init:onInit}"
    >

    <div data-role="header">
        <div data-role="navbar">
            <div >
                <a data-role="button" data-align="left" href="views/centroCirurgico/cirurgiasRealizadasGraficoView.html" data-icon="back-button"></a>
                <span data-role="view-title" style="line-height:1.8em"></span>
                <a data-role="button" data-align="right" onclick="showLegenda();"  >Legenda</a>
            </div>
        </div>
    </div>

    <div id="scheduler" data-role="scheduler" data-auto-bind="false"
        data-views="['day', { type: 'day', eventTemplate: $('#event-template').html(), 
            workDayStart: new Date().Today().addHours(7),
            workDayEnd: new Date().Today().addHours(19),
            showWorkHours: true}]"
         data-group="{resources: ['Salas']}"
        data-show-work-hours="false"
        data-editable="false"
        
        data-all-day-slot= "false"
        data-work-day-start= "new Date().Today().addHours(7)"
        data-resources="[{field: 'secaoId', 
            name: 'Salas',
            dataSource: app.painelCirurgiasViewService.viewModel.dataSourceResource}]"
        data-bind="source: dataSource, events:{dataBound: dataBound, navigate: navigate}"
        data-template="event-template"></div>	


    <div data-role="modalview" id="modalview-legenda" style="width: 90%;">


        <div class="btnContent">
            <a data-role="button" onclick="closeLegenda();">Fechar</a>
        </div>
        <div id="modalLegenda">
    		<div class="legenda planejada">
    			<span>Planejada</span>
    		</div>		              	            
        
    		<div class="legenda checkInCC">
    			<span>Entrada no CC</span>
    		</div>		 

    		<div class="legenda entradaSala">
    			<span>Entrada na Sala</span>
    		</div>		 

    		<div class="legenda inicioCirurgia">
    			<span>Início da Cirurgia</span>
    		</div>		 

    		<div class="legenda fimCirurgia">
    			<span>Fim da Cirurgia</span>
    		</div>		 

    		<div class="legenda saidaSala">
    			<span>Saída da Sala</span>
    		</div>		 
    		
    		
    		<div class="legenda saidaCC">
    			<span>Saída do CC</span>
    		</div>		 

    		<div class="legenda suspensaNoCC">
    			<span>Suspensa no CC</span>
    		</div>		 

    		<div class="legenda suspensaForaCC">
    			<span>Suspensa fora do CC</span>
    		</div>		 

    		<div class="legenda suspensaoTemporaria">
    			<span>Suspensão Temporária</span>
    		</div>		 
    		
    		<div class="legenda encaixe">
    			<span>Encaixe Urgência</span>
    			<img class="imgEmergencia" /> 
    		</div>
    		<div class="legenda encaixe">
    			<span>Encaixe Internado</span>
    			<img class="imgInternado" /> 
    		</div>		 
    		<div class="legenda encaixe">
    			<span>Encaixe em casa</span>
    			<img class="imgCasa" /> 
    		</div>		 

        </div>

    
    </div>


</div>


<script id="tooltip-template" type="text/x-kendo-template">
 	#var uid = target.attr("data-uid");#
    #var scheduler = target.closest("[data-role=scheduler]").data("kendoScheduler");#
    #var model = scheduler.occurrenceByUid(uid);
    if(model) {#
    	Data: #=kendo.format('{0:d}',model.start)#
        <strong>Inicio:</strong> #=kendo.format('{0:HH:mm}',model.start)# - <strong>Fim:</strong> #=kendo.format('{0:HH:mm}',model.end)#<br />
        <div><strong style="font-size:150%">#= model.equipeNome # - #= model.title # </strong></div>
        <div style="margin:5px;" >
        	<div style="margin: 5px 0px 2px 0px;" > Paciente: #= model.pacienteNome #, #= model.pacienteSexo #</div>  
        	<div style="margin: 5px 0px 2px 0px;"> Procedimento: #= model.procedimentoNome # </div> 
        </div>
    #} else {#
        <strong>No event data is available</strong>
    #}#
    
</script>

      <script id="event-template" type="text/x-kendo-template">
            <div  >
                <div>
                    <strong style="font-size:1.0em">#: pacienteNome # - #: equipeNome # - #: title #</strong>
                </div>
                <div style="margin:5px;" >
                    <div style="margin: 5px 0px 2px 0px;"> Procedimento: #: procedimentoNome # </div>
                </div>
            </div>
        </script>

<script>
       function showLegenda(){
           console.log('show');
           $("#modalview-legenda").data("kendoMobileModalView").open();
       }

           function closeLegenda(){
           $("#modalview-legenda").data("kendoMobileModalView").close();
       }

    
</script>
